<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="letseat.mealdesigner">

    <application
        android:name=".MealDesignerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".recipies.MainRecipe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shoppinglist.ShoppingList"
            android:parentActivityName=".recipies.MainRecipe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".recipies.MainRecipe" />
        </activity>
        <activity android:name=".recipeinfo.RecipeInfo" />
        <activity
            android:name=".favorites.Favorites"
            android:parentActivityName=".recipies.MainRecipe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".recipies.MainRecipe" />
        </activity>
        <activity android:name=".cook.Cook" />
        <activity android:name=".shoppinglist.ShoppingListEdit"></activity>
    </application>

</manifest>